
/* ===== Custom CSS Dashboard ========= */
/* ====================================== */


/* === Custom Dashboard === */
.container-fluid {
    padding-top: 0 !important;
}
.card {
    height: auto !important;
}

/* === Custom Form CSS === */
.form-control {
    line-height: 2.5 !important;
}

/* === Custom DataTable === */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    color: blue;
}
.sp_col > thead > tr > th {
    color: white !important;
}
.stripe {
    background: #082073;
}


/* === Permission Table === */
.timeline {
    border: 1px solid #f0f1f5;
    border-radius: 10px;
    min-height: 190px;
}

.head-chk{
    padding: 8px 20px !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sub_chk {
    padding: 10px 20px;
}



