
/* ===== Custom CSS Dashboard ========= */
/* ====================================== */


/* === Custom Dashboard === */
.container-fluid {
    padding-top: 0 !important;
}
.card {
    height: auto !important;
}

/* === Custom Form CSS === */
.form-control {
    line-height: 2.5 !important;
}

/* === Custom DataTable === */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    color: blue;
}
.sp_col > thead > tr > th {
    color: white !important;
}
.stripe {
    background: #082073;
}



