
/* ===== Custom CSS Dashboard ========= */
/* ====================================== */

/* === Dash Loader === */
#dash_loader{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #FFFFFF url("/dashboard/images/loading_gears.gif") no-repeat center;
    background-size: 200px;
    z-index: 9999;
    display: none;
}


/* === Custom Dashboard === */
.container-fluid {
    padding-top: 0 !important;
}
.card {
    height: auto !important;
}

/* === Dashboard Notification === */
a.notif_link > div{
    border-radius: 20px;
}
.timeline-panel {
    transition: .1s;
}
.timeline-panel .media {
    transition: .1s;
}
a.notif_link:hover .timeline-panel {
    background: rgba(8, 31, 115, 0.1);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(8,32,115,1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(8,32,115,1);
    box-shadow: 0px 0px 3px 0px rgba(8,32,115,1);
}
a.notif_link:hover .timeline-panel .media {
    transform: scale(1.08);
}

/* === Custom Form CSS === */
.form-control {
    line-height: 2.5 !important;
    color: #6911C4;
}

/* === Custom DataTable === */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    color: blue;
}
.sp_col > thead > tr > th {
    color: white !important;
}
.stripe {
    background: #082073;
}


/* === Permission Table === */
.sp_top {
    margin-bottom: 12px;
}

.perm_item {
    position: relative;
}

.timeline {
    border: 1px solid #f0f1f5;
    border-radius: 10px;
    min-height: 190px;
}

.head-chk{
    padding: 18px 20px !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sub_chk {
    padding: 10px 20px;
}

h5.sp_chk {
    margin: 4px 0 0 8px;
}

.float {
    position: absolute;
    top: 13px;
    right: 20px;
}

@media(max-width: 767.98px){
    .sm_flex {
        flex-direction: column;
    }
}





